/* Colours */
$primary: #00a7e1;
$accent: #ff9b42;
$neutral-dark: #0b2027;
$neutral-light: #eff1f3;
$neutral-lighter: #f4f4f4;
$neutral-darker: #0b2027;

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Orelega+One&family=Parisienne&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&display=swap");

$sans-serif: "Poppins", sans-serif;
$cursive: "Parisienne", cursive;

$orelega: "Orelega One", cursive;
$oleoscript: "Oleo Script Swash Caps", cursive;
